<div ng-include="'components/navbar/navbar.html'"></div>



<div ng-controller="SignupCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<h2>What kind of user are you?</h2>
			 <accordion close-others="{{true}}">
		    <accordion-group heading="Buyer" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" >
		      <button ng-hide="isLoggedIn" type="button" class="btn btn-primary" ng-click="createTwitterBuyer()">
        		Connect Twitter
    			</button>
    			<button ng-hide="!isLoggedIn" ng-click="signOut()" id="signOut" type="button" class="btn btn-link" >Sign Out</button>
		    </accordion-group>

		    <accordion-group heading="Seller">
	      	<button ng-hide="isLoggedIn" type="button" class="btn btn-primary" ng-click="createTwitterUser()">
        		Connect Twitter
    			</button>
    			<button ng-hide="!isLoggedIn" ng-click="signout()" id="signOut" type="button" class="btn btn-link" >Sign Out</button>
	      </accordion-group>

		</div>
	</div>

</div>