<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">

<!--login modal-->
<div class="container" ng-controller="LoginCtrl">

  <h1>Connect with Twitter</h1>
  <div class="row">
      <div class="col-xs-12">
          <button ng-hide="isLoggedIn" ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
          <button ng-hide="!isLoggedIn" ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" >Get My Timeline</button>
          <button ng-hide="!isLoggedIn" ng-click="signOut()" id="signOut" type="button" class="btn btn-link" >Sign Out</button>
          <button ng-hide="!isLoggedIn" ng-click="getFollowersList()" id="followersList" type="button" class="btn btn-link" >Get Followers</button>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12" id="results">
          <div class="row" ng-repeat="t in tweets">
              <div class="col-xs-2 col-sm-1">
                  <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
              </div>
              <div class="col-xs-10 col-sm-11">
                  <small>{{t.user.name}}</small><br>{{t.text}}
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12" id="results">
          <div class="row" ng-repeat="user in followers.users">
              <div class="col-xs-2 col-sm-1">
                  <img ng-src="{{user.profile_image_url}}" class="img-circle">
              </div>
              <div class="col-xs-10 col-sm-11">
                  <small>{{user.name}}</small><!--<br>{{user.text}}-->
              </div>
          </div>
      </div>
  </div>
</div>
